{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:node/recommended",
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-var": "error",
    "node/exports-style": ["error", "module.exports"],
    "node/file-extension-in-import": ["error", "always"],
    // "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": true}]
  },
}
